<h2> <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: url, html: { method: method }) do |f| %>

  <div class="field row">
    <div class="col-1">
      <%= f.label :content, class: 'form-label' %>
    </div>
    <div class="col-11">
      <%= f.text_field :content, autofocus: true, autocomplete: "content", class: 'col-5 form-control', required: true %>
    </div>
  </div>

  <div class="field row mt-4 d-flex justify-content-start mb-4 align-items-center">
    <div class="col-1">
      <%= f.label :category, class: 'form-label' %>
    </div>
    <div class="col-5">
      <%= f.select :category, Question.categories.keys, {include_blank: true}, class: 'form-select', required: true %>
    </div>

    <div class="col-1">
      <%= f.label :level %>
    </div>
    <div class="col-5">
      <%= f.select :level, Question.levels.keys, {include_blank: true}, class: 'form-select', required: true %>
    </div>
  </div>

  <div class="field">
    <h5>Answers</h5>
    <div class="row mt-4 d-flex justify-content-start align-items-center">
      <%= f.fields_for :answers do |ff| %>
        <div class="col-5">
          <%= ff.text_field :content, class: 'form-control col-5 mb-4', required: true %>
        </div>
        <div class="col-1">
          <%= ff.check_box :correct, class: 'col-1 form-check-input mb-4' %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="action">
    <%= f.submit method=="POST"? "Create" : "Update", class: 'btn btn-primary' %>
  </div>
<% end %>