
<h2> <%= Question %></h2>
<%= search_form_for @search, url: admins_questions_path, class: "form-inline" do |f| %>
	<div class="form-group">
        <div class="row">
            <div class="col-1">
                <%= f.label :content_cont, 'Content:' %>
            </div>
            <div class="col-11">
                <%= f.text_field :content_cont, class: "form-control" %><br>
            </div>
        </div>
        <div class="row d-flex justify-content-start mb-4 align-items-center">
            <div class="col-1">
                <%= f.label :category_eq, 'Category:' %>
            </div>
            <div class="col-5">
                <%= f.select :category_eq, options_from_collection_for_select(Question.categories, "second", "first", @search.category_eq), {include_blank: true}, {class: 'form-select'} %>
            </div>
            <div class="col-1">
                <%= f.label :level_eq, 'Level:' %>
            </div>
            <div class="col-5">
                <%= f.select :level_eq, options_from_collection_for_select(Question.levels, "second", "first", @search.level_eq), {include_blank: true}, {class: 'form-select'} %>
            </div>
        </div>
    </div>
    <%= f.submit 'Search', class: "btn btn-primary mb-4" %>
<% end %>
<table class="table">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Content</th>
        <th scope="col">Category</th>
        <th scope="col">Level</th>
        <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <% @questions.each.with_index(1) do |question, index| %>
            <tr>
                <th scope="col"><%= index %></th>
                <td class="col-md-8"><%= question.content %></td>
                <td class="col-md-1"><%= question.category %></td>
                <td class="text-<%= question.level == "Easy"? "primary" : (question.level == 'Normal' ? "success" : "danger") %>"><%= question.level %></td>
                <td class=""><%= link_to "Edit", edit_admins_question_path(question), class: 'btn btn-primary' %>
                <%= link_to "Destroy", admins_question_path(question), method: :delete , data: {:confirm => "You sure?" }, class: 'btn btn-danger' %></td>
            </tr>
        <% end %>
        <%= paginate @questions, theme: 'twitter-bootstrap-4' %>
    </tbody>
</table>