<% flash.each do |type, msg| %>
    <%  if msg.present? %>
    <div class="alert alert-success alert-dismissible">
        <strong><%= type %></strong><%= msg %>
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    </div>
    <% end %>
<% end %>

<div role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-autohide="false">
  <div class="toast-header">
    <strong class="mr-auto">Bootstrap</strong>
    <small>11 mins ago</small>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">
    Hello, world! This is a toast message.
  </div>
</div>