<table class="table">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Email</th>
        <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <% @users.each.with_index(1) do |user, index| %>
            <tr>
                <th scope="col"><%= index %></th>
                <td><%= user.email %></td>
                <td class=""><%= link_to "Edit", edit_admins_user_path(user), class: 'btn btn-primary' %>
                <%= link_to "Destroy", admins_user_path(user), method: :delete , data: {:confirm => "You sure?" }, class: 'btn btn-danger' %></td>
            </tr>
        <% end %>
        <%= paginate @users, theme: 'twitter-bootstrap-4' %>
    </tbody>
</table>