<!DOCTYPE html>
<html>
  <head>
    <title>TrainingWeb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="fluid-container">
        <div class="row">
            <div class="col-2">
                <%= render 'admins/partials/sidebar' %>
            </div>
            <div class="col-1">
              <%= link_to "Back", :back, class: 'btn btn-outline-primary mt-4'%>
            </div>
            <div class="col-8">
                <%= yield %>
                <%= toastr_flash %>
            </div>
            <div class="col-1">
            </div>
        </div>
    </div>
  </body>
</html>