<section class="text-center text-lg-start">
    <style>
    .cascading-right {
      margin-right: -50px;
    }

    @media (max-width: 991.98px) {
      .cascading-right {
        margin-right: 0;
      }
    }
  </style>
  <div class="container py-4">
    <div class="row g-0 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="card cascading-right" style="background: hsla(0, 0%, 100%, 0.55);backdrop-filter: blur(30px);">
          <div class="card-body p-5 shadow-5 text-center">
            <h2 class="fw-bold mb-5">Sign in</h2>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <div class="form-outline mb-4">
                <%= f.label :email, class: 'form-label', for: 'form3Example3' %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-control"%>
              </div>

              <div class="field">
                <%= f.label :password, class: 'form-label', for: 'form3Example4' %><br />
                <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
              </div>

              <div class="field">
                <%= f.label :password_confirmation, class: 'form-label mt-4 mb-2', for: 'form3Example4' %><br />
                <%= f.password_field :password_confirmation, autocomplete: "current-password", class: 'form-control' %>
              </div>

              <%= f.submit "Sign up", class: 'btn btn-primary btn-block mb-4 mt-4' %>
            <% end %>

            <%= render "users/shared/links" %>
          </div>
        </div>
      </div>
      
      <div class="col-lg-6 mb-5 mb-lg-0">
        <img src="https://mdbootstrap.com/img/new/ecommerce/vertical/004.jpg" class="w-100 rounded-4 shadow-4"
          alt="" />
      </div>
    </div>
  </div>
</section>
